body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #menu- {
  font-size: 200;
  transition: none !important;
  transition-timing-function:unset !important
}
.MuiPopover-paper {
  transition: none !important; 
}
.css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop {
  transition: none !important; 
} */